<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <h1>Results</h1>
    <h3>name: <%= result.name %> </h3>
    <h3>language: <%= result.language %> </h3>
    <h3>location: <%= result.location %> </h3>
    <h3>Comment: <%= result.comment %> </h3>
    
  </body>
</html>
