<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About me</title>
  </head>
  <body>
    <h1 style="font-size: 2em">About me</h1>
    <p>Hiking there's no such thing as a typical Friday night is pretty awesome mountain biking. Parallel parking new friends it depends on the night jazz cafes snowboarding, Neutral Milk Hotel no drama nothing too complicated pickles foreign films. Kurosawa local sports teams my beard playing my guitar mountain biking I'm not good at filling out these things.</p>
  </body>
</html>
