
<h1>Bid Now</h1>
<!-- Product 1  -->
{{ product1bids | json }}
{{ product2bids | json }}
{{ product3bids | json }}
<div class="p-1">
  <h3>Product 1</h3>
</div>
<form (submit)='bidPlaced(1)'>
  <input type="number" name="number" [(ngModel)]='product1.bid'>
  <input type="submit" value="bid">
</form>
<div *ngIf='product2bids.length > 0'>
  <div class="bids" *ngFor='let bid of product1bids'>
    <p>{{ bid._user.username }}: {{ bid.bid | currency:'USD':true }}</p>
  </div>

</div>





<!-- Product 2  -->
<div class="p-2">
  <h3>Product 2</h3>
</div>
<form (submit)='bidPlaced(2)'>
  <input type="number" name="number"[(ngModel)]='product2.bid'>
  <input type="submit" value="bid">
</form>
<div *ngIf='product2bids.length > 0'>
  <div class="bids" *ngFor='let bid of product2bids'>
    <p>{{ bid._user.username }}: {{ bid.bid | currency:'USD':true }}</p>
  </div>
</div>





<!-- Product 3  -->
<div class="p-3">
  <h3>Product 3</h3>
</div>
<form (submit)='bidPlaced(3)'>
  <input type="number" name="number" [(ngModel)]='product3.bid'>
  <input type="submit" value="bid">
</form>
<div *ngIf='product2bids.length > 0'>
  <div class="bids" *ngFor='let bid of product3bids'>
    <p>{{ bid._user.username }}: {{ bid.bid | currency:'USD':true}}</p>
  </div>
</div>
<br>
<br>
<a [routerLink]='["result"]'>End The Bid</a>
