<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register Here:</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="flash">{{message}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <form class="register" action="/register" method="POST">
      <label for="first_name">First Name:<input type="text" name="first_name"></label>
      <label for="last_name">Last Name:<input type="text" name="last_name"></label>
      <label for="email">Email:<input type="text" name="email"></label>
      <label for="password">Password:<input type="password" name="password"></label>
      <label for="confirm">Password Confirmation:<input type="password" name="confirm"></label>
      <input type="submit" value="Register">
    </form>

    <h1>Login</h1>
    <form class="login_form" action="/login" method="POST">
      <label for="email">Email:<input type="text" name="email"></label>
      <label for="password">Password:<input type="password" name="password"></label>
      <input type="submit" value="Log In">
  </body>
</html>
