<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%load staticfiles%}

    <link rel="stylesheet" href="{% static 'secret_app/css/style.css' %}">
    <title>Secrets</title>
  </head>
  <body>

<!-- header -->
    <h1>Secrets dont make Friends... But they make great Websites</h1>
    <h2>Welcome {{name.f_name}} {{name.l_name}}</h2>



<!-- Error messages -->
    {%for message in messages %}
         {%if "message_error" in message.tags %}
              <p> {{message.}} </p>
         {%endif%}
    {%endfor%}

<!-- text form  -->
    <form class="secret_form" action="/secret_message" method="POST">
      {% csrf_token %}
      <textarea name="message" rows="8" cols="80" placeholder="Your secret here... "></textarea>
      <input type="submit" name="submit" value="Post">
    </form>
    <h1>Recent Secrets</h1>
<!-- message list  -->
    {%for message in message_list%}
    <div  class="messages">
        <p>{{message.message}}<br>({{message.likes}}) Likes</p>
<!-- IF LIKED -->
        {% if message.liked == 'true' %}
          <p>YOU LIKED THIS</p>
        {%else%}
        <form class="like_message_form" action="{% url 'liked' id=message.id%}" method="POST">
          {% csrf_token %}
          <input type="submit" name="like" value='LIKE'>
        </form>
        {%endif%}
<!-- if created should be able to delete -->
        {% if message.created == 'true' %}
        <p>You Posted This...</p>
        <form class="delete_message" action="{%url 'm_delete' id=message.id%}" method="POST">
        {% csrf_token %}
         <input type="submit" name="delete" value="Delete">
        </form>
        {%else%}
        {%endif%}
      </div>
      {%endfor%}
<!-- logout -->
      <form class="logout_button" action="/logout" method="POST">
         {% csrf_token %}
        <input type="submit" name="logout_button" value="Logout">
      </form>
  </body>
</html>





















<!-- fgs -->
