<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>email list</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="flash">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action='/emails' method='POST'>
      <label for="=email">Email:<input type="text" name="email" id="email"></label>
      <input type="submit" value="Add">
    </form>
  </body>
</html>
