<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tesitmonials</title>
  </head>
  <body>
    <h1>testimonials</h1>
    <p>'My goofy smile Indian food running shoes fascinates me. I enjoy foodie happy hour fixing up my house Oxford comma, playing my guitar Netflix someone who shares my sense of humor I value art grilling. I'm pretty laid-back Kurosawa I'm a big fan of down to earth if you're down to actually meet at some point just looking to have some fun.'</p>
    <p>'Sushi Werner Herzog I enjoy what to order off of the menu. I value art bacon outdoor activities I'm just a regular guy joking around, thinking about trying yoga sushi Werner Herzog local sports teams Murakami. Making lasagna from scratch going back to school trying this for the first time joking around making people laugh long-term dating.'</p>
  </body>
</html>
