* {
  text-align: center;
}

.box {
  display: inline-block;
  width: 200px;
  height: 75px;
  outline: 3px solid black;
  margin: 50px;
  padding: 10px;

}
.head_link {
  display: inline-block;
  margin-left: 125px;
  margin-right: 125px;
  font-size: 1.2em;
  position: relative;
}
