<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>here</title>
  </head>
  <body>
    <h1>here are the quotes</h1>
    <ul>
      <% for (var i=0; i < quotes.length; i++){%>
      <li>Name: <%= quotes[i].name %>
      Quote: <%= quotes[i].quote %></li>
      <%} %>
    </ul>
  </body>
</html>
